/*Slider css for the revolution slider*/


@media screen and (max-width: 768px) {
    .bluebg-t1{font-size: 37px !important; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 40px !important;}
.bluebg-t2,.whitebg-t2{font-size: 27px !important; font-weight:bold; color: #231f20; font-family: 'Open Sans', sans-serif;}

.imed-sl1 img{max-width: 100%;}


.whitebg-t1{font-size: 37px !important; color: #107fc9; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 40px !important;}




.bluebg-t3{font-size: 13px !important; color: #fff; font-family: 'Open Sans', sans-serif;}

.whitebg-t3{font-size: 13px !important; color: #999999; font-family: 'Open Sans', sans-serif;}

.s1-but a{font-size: 15px !important; font-weight:bold; color: #231f20; padding: 15px 25px; background-color: #fff;}

.s1-but a:hover{color: #107fc9;}

}
 
@media screen and (max-width: 568px) {
    .bluebg-t1{font-size: 17px !important; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 40px !important;}
 .bluebg-t2,.whitebg-t2{font-size: 17px !important; font-weight:bold; color: #231f20; font-family: 'Open Sans', sans-serif;}
 
.imed-sl1 img{max-width: 100%;}


.whitebg-t1{font-size: 37px !important; color: #107fc9; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 40px !important;}




.bluebg-t3{font-size: 13px !important; color: #fff; font-family: 'Open Sans', sans-serif;}

.whitebg-t3{font-size: 13px !important; color: #999999; font-family: 'Open Sans', sans-serif;}

.s1-but a{font-size: 15px !important; font-weight:bold; color: #231f20; padding: 15px 25px; background-color: #fff;}

.s1-but a:hover{color: #107fc9;}

}



