/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

	#FUTURE 2014 - The ultimate countdown 8:1
	@Author		   Torros / Madeon08
	@Type          CSS
	@Last Update   2:13 PM Thursday, July 3rd, 2014

	TABLE OF CONTENTS
	---------------------------
	 1. Global
	 	1.2. Swipebox
	 2. Main content
	 3. Map
	 4. Countdown
	 5. Contact
	 6. About
	 7. Loading
	 8. Media Queries

  =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* /


/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* ========= 1. Global ========== */
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
	
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0 none;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.clear {
	clear: both;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	overflow-x:hidden !important;
	color: #666;
	background: #333;
	font-family: Lato, 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	font-size: 19px;
	font-style: normal;
	font-weight: 320;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Lato, 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
	font-weight: 300;
	color: #fff;
}

h1 {
	font-size: 65px;
	line-height: 65px;
}

h2 {
	font-size: 55px;
	line-height: 55px;
}

h3 {
	font-size: 50px;
	line-height: 50px;
}

h4 {
	font-size: 34px;
	line-height: 44px;
}

h5 {
	font-size: 48px;
	line-height: 48px;
	font-style: italic
}

h6 {
	font-size:20px;
	line-height: 20px;
}

p {
	color: #CCC;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
}

ul { 
	list-style: none;
}

a, a:hover, a:focus {
	cursor: pointer;
	text-decoration: none;

	-webkit-transition:  400ms;
	-moz-transition:  400ms;
	-ms-transition:  400ms;
	-o-transition:  400ms;
	transition:  400ms;
}

a {
	color:#FFF;
}

a:hover {
	color:rgba(255, 255, 255, 0.8);
}

#pattern {
	background: rgba(0, 0, 0, 0.1) url('../img/pattern.png') repeat top left;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
}

.border {
	background: none repeat scroll 0 0 #FFF;
	display: block;
	height: 2px;
	width: 100px;
	margin:20px auto;
}

.back-pop {
	width:100%;
	margin:auto;
}

.back-pop h4 {
	text-align: left;
	padding: 10px 0;
	font-size: 24px;
	font-style: normal;
}

.well {
	background-color:transparent;
	background-repeat:repeat;
	border: none;
	border-radius: 0px;
	width:100%;
	height:100%;
	padding:6%
}

.aboutus {
	text-align:center;
	padding:35px 0 0
}

.align-reduce {
	text-align:center;
	padding:50px 0;
}

.pop-container {
	padding-bottom:100px;
}

.fa-comp {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    color: #333333;
    height: 40px;
    line-height: 40px;
    position: absolute;
	z-index:99999;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 40px;
}

.fa-comp:hover {
	background:#333;
}

.popup_wrapper {
	background:rgba(0,0,0,0.6)
}

.opacity-1 {
	opacity:1;
}

.opacity-0 {
	opacity:0;
}

.display-none {
	display:none
}

.tlt {
	position: absolute;
    text-align: center;
	font-weight:300;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    top: 47%;
    width: 100%;
	text-transform:uppercase;
	font-size:50px;
	z-index:9999
}

/* *** 1.2 SWIPEBOX *** */

/*! Swipebox v1.2.8 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch {
	overflow: hidden !important;
}

#swipebox-overlay img {
	border: none !important;
}

#swipebox-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999 !important;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#swipebox-slider {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	white-space: nowrap;
	position: absolute;
	display: none;
}

#swipebox-slider .slide {
	background: url(../img/loader.gif) no-repeat center center;
	height: 100%;
	width: 100%;
	line-height: 1px;
	text-align: center;
	display: inline-block;
}

#swipebox-slider .slide:before {
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right: -1px;
}

#swipebox-slider .slide img, #swipebox-slider .slide .swipebox-video-container {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	vertical-align: middle;
}

#swipebox-slider .slide .swipebox-video-container {
	background: none;
	max-width: 1140px;
	max-height: 100%;
	width: 100%;
	padding: 5%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	left: 0;
}

#swipebox-action,
#swipebox-caption {
	position: absolute;
	left: 0;
	z-index: 999;
	height: 50px;
	width: 100%;
}

#swipebox-action {
	bottom: 0px;
}

/*#swipebox-action.visible-bars {
	-ms-transform: translateY(-50px);
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
}*/

#swipebox-action #swipebox-prev,
#swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
	background-image: url(../img/swipebox-icons.png);
	background-repeat: no-repeat;
	border: none !important;
	text-decoration: none !important;
	cursor: pointer;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
}

#swipebox-action #swipebox-prev {
	background-position: -32px 13px;
	right: 100px;
}

#swipebox-action #swipebox-next {
	background-position: -78px 13px;
	right: 40px;
}

#swipebox-action #swipebox-close {
	background-position: 15px 12px;
	left: 40px;
}

#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
	opacity: 0.3;
}

#swipebox-caption {
	top: 0px;
	text-align: center;
}

/*#swipebox-caption.visible-bars {
	-ms-transform: translateY(50px);
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}*/

#swipebox-slider.rightSpring {
	-webkit-animation: rightSpring 0.3s;
	animation: rightSpring 0.3s;
}

#swipebox-slider.leftSpring {
	-webkit-animation: leftSpring 0.3s;
	animation: leftSpring 0.3s;
}

@-webkit-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes rightSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes leftSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0px;
  }
}

@media screen and (max-width: 800px) {
  #swipebox-action #swipebox-close {
    left: 0;
  }

  #swipebox-action #swipebox-prev {
    right: 60px;
  }

  #swipebox-action #swipebox-next {
    right: 0;
  }
}

/* *-*-*-* Skin *-*-*-* */ 

#swipebox-overlay {
	background: #0d0d0d;
}

#swipebox-action,
#swipebox-caption {
	text-shadow: 1px 1px 1px black;
	background-color: #0d0d0d;
	background-color: #0d0d0d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(black));
	background-image: -webkit-linear-gradient(top, #0d0d0d, black);
	background-image: linear-gradient(to bottom, #0d0d0d, black);
	opacity: 0.95;
}

#swipebox-action {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#swipebox-caption {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color: white !important;
	font-size: 15px;
	line-height: 43px;
	font-family: Lato, 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
}

/* ******************* */

/* *** Index 1 & 3 *** */

.vegas-loading {
	border-radius: 10px;
	background: #000;
	background: rgba(0,0,0,0.7);
	background: url(images/loading.gif) no-repeat center center; /* Loading Gif by http://preloaders.net/ */
	height: 32px;
	left: 20px;
	position: fixed;
	top: 20px;
	width: 32px; 
	z-index: 0;
}

.vegas-overlay {
	background: transparent url(overlays/01.png);
	opacity: 0.5;
	z-index: -1;
}

.vegas-background {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
    max-width: none !important; /* counteracts global img modification by twitter bootstrap library */
	z-index: -2;
}

.vegas-overlay,
.vegas-background {
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

/* ****** ***** ****** */

/* ***** Index 2 ***** */

#parent {
	height: 100%;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

#parent img {
    height: 100%;
    min-width: 1380px;
    width: 103%;
}

/* ****** ***** ****** */

/* ***** Index 4 ***** */

#video-volume {
    bottom: 60px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 24px;
    left: 49%;
    margin-left: -10px;
    position: absolute;
    width: 20px;
    z-index: 10;
}

#video-unmute {
    bottom: 60px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 24px;
    left: 49%;
    margin-left: -10px;
    position: absolute;
    width: 20px;
    z-index: 10;
}

#fullscreen {
	bottom: 60px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 24px;
    left: 51%;
    margin-left: -10px;
    position: absolute;
    width: 20px;
    z-index: 10;
}

#controlBar_bgndVideo {
	display:none;
}

/* The class sub-picture is here for the mobile and tablet, she replaces the video by a full screen picture. It's used for a better loading on telephone network */
.sub-picture {
	background-color:none;
	background-image: url('../img/re-video-phone.jpg');
	background-size:cover;
}

/* ****** ***** ****** */

/* *** Index 6 & 7 *** */

@keyframes defile {
		from {background-position: 0px 8000px;}
		to {background-position: 0px 0px;}
	}
	
@-moz-keyframes defile {
		from {background-position: 0px 8000px;}
		to {background-position: 0px 0px;}
	}
	
@-webkit-keyframes defile {
		from {background-position: 0px 8000px;}
		to {background-position: 0px 0px;}
	}

#midground {
	background: url(../img/parallax-midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -2;
	animation: defile 120s linear infinite;
	-webkit-animation: defile 120s linear infinite;
	-moz-animation: defile 120s linear infinite;
	-o-animation: defile 120s linear infinite;
}

#foreground {
	background: url(../img/parallax-foreground.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -1;
	animation: defile 80s linear infinite;
	-webkit-animation: defile 80s linear infinite;
	-moz-animation: defile 80s linear infinite;
	-o-animation: defile 80s linear infinite;
}

			/* ***** PARALLAX Index 7 ***** */
			
			@keyframes lighthouse {
				0% {
					transform: rotateZ(0deg) translate3d(0px, 20%, 0px) rotateZ(0deg);
				}
				100% {
					transform: rotateZ(360deg) translate3d(0px, 20%, 0px) rotateZ(-360deg);
				}
			}

			@-moz-keyframes lighthouse {
				0% {
					transform: rotateZ(0deg) translate3d(0px, 20%, 0px) rotateZ(0deg);
				}
				100% {
					transform: rotateZ(360deg) translate3d(0px, 20%, 0px) rotateZ(-360deg);
				}
			}
	
			@-webkit-keyframes lighthouse {
				0% {
					transform: rotateZ(0deg) translate3d(0px, 20%, 0px) rotateZ(0deg);
				}
				100% {
					transform: rotateZ(360deg) translate3d(0px, 20%, 0px) rotateZ(-360deg);
				}
			}
			
			#scene {
				width: 100%;
				height:100%;
				position:absolute;
				margin: 0 auto;
				padding: 0;
				z-index:-1;
			}
			
			.lighthouse {
				background:url(../img/parallax-midground.png) repeat ;
				animation: 20s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s none infinite lighthouse;
				position: absolute;
				transform-origin: 50% 90% 0;
				width:100%;
				height:100%
			}
			
			.layer:nth-child(1) {
				opacity: 0.15;
				background:url(http://placehold.it/1920x1080); /* I advise you to place a png with a transparent backgroud */
				background-size:cover;
				left:70px !important;
				top:-50px !important;
				position:absolute
			}
			
			.layer:nth-child(2) {
				opacity: 0.30;
			}
			
			.layer:nth-child(3) {
				opacity: 0.45;
				background:url(../img/parallax-foreground.png) repeat 90% 110%;
			}

			/* ****** ***** ****** */
			
/* ****** ***** ****** */

/* ***** Index 8 ***** */

#container {
    height: 100%;
    position: absolute;
    width: 100%;
}

.back-fss {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* ****** ***** ****** */

/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* ====== 2. Main content ======= */
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */

#main-future {
	margin: -230px auto auto;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	z-index:999
}

#main-content h1 {
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:-6px;
	padding-right:4px;
}

.principal {
	opacity:1;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.link-box {
	margin-top:0%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	z-index:2000;
	display:block;
}

.link-box a {
	display: inline-block;
	outline-style:none;
	width: 36px;
	height: 39px;
	line-height: 36px;
	font-size: 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	color: #FFF;
	margin: 10px 0;
	box-shadow: #FFF 0 0 1px;
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	-ms-transition: 400ms;
	-o-transition: 400ms;
	transition: 400ms
}

.link-box a:hover {
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	-ms-transition: 400ms;
	-o-transition: 400ms;
	transition: 400ms
}

.link-box a.twitter:hover {
	background: #41b7d8;
	color: #fff;
}

.link-box a.facebook:hover {
	background: #3b5997;
	color: #fff;
}

.link-box a.book:hover {
	background: #5CB85C;
	color: #fff;
}

.link-box a.globe:hover {
	background: #FFD700;
	color: #fff;
}

.link-box a.envelope:hover {
	background: #A73E5C;
	color: #fff;
}

.link-box a.google-plus:hover {
	background: #d64937;
	color: #fff;
}

.link-box a#newsletter:hover {
	background:#333333
}

.link-box i.fa {
    height: 100%;
    padding-top: 10px;
    vertical-align: 0;
    width: 100%;
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	-ms-transition: 400ms;
	-o-transition: 400ms;
	transition: 400ms
}

.fa-bell:hover {
	-webkit-transform-origin: 50% 90%;
	-moz-transform-origin: 50% 90%;
	transform-origin: 50% 90%;
	-webkit-animation: bell-shake 0.3s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: bell-shake 0.3s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: bell-shake 0.3s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

	@-webkit-keyframes bell-shake {
	  0% {
		-webkit-transform: translate3d(-15%,0,0) rotate(10deg);
		-moz-transform: translate3d(-15%,0,0) rotate(10deg);
		transform: translate3d(-15%,0,0) rotate(10deg);
	  }
	
	  100% {
		-webkit-transform: translate3d(15%,0,0) rotate(-10deg);
		-moz-transform: translate3d(15%,0,0) rotate(-10deg);
		transform: translate3d(15%,0,0) rotate(-10deg);
	  }
	}
	
	@-moz-keyframes bell-shake {
	  0% {
		-webkit-transform: translate3d(-15%,0,0) rotate(10deg);
		-moz-transform: translate3d(-15%,0,0) rotate(10deg);
		transform: translate3d(-15%,0,0) rotate(10deg);
	  }
	
	  100% {
		-webkit-transform: translate3d(15%,0,0) rotate(-10deg);
		-moz-transform: translate3d(15%,0,0) rotate(-10deg);
		transform: translate3d(15%,0,0) rotate(-10deg);
	  }
	}
	
	@-ms-keyframes bell-shake {
	  0% {
		-webkit-transform: translate3d(-15%,0,0) rotate(10deg);
		-moz-transform: translate3d(-15%,0,0) rotate(10deg);
		transform: translate3d(-15%,0,0) rotate(10deg);
	  }
	
	  100% {
		-webkit-transform: translate3d(15%,0,0) rotate(-10deg);
		-moz-transform: translate3d(15%,0,0) rotate(-10deg);
		transform: translate3d(15%,0,0) rotate(-10deg);
	  }
	}
	
	@keyframes bell-shake {
	  0% {
		-webkit-transform: translate3d(-15%,0,0) rotate(10deg);
		-moz-transform: translate3d(-15%,0,0) rotate(10deg);
		transform: translate3d(-15%,0,0) rotate(10deg);
	  }
	
	  100% {
		-webkit-transform: translate3d(15%,0,0) rotate(-10deg);
		-moz-transform: translate3d(15%,0,0) rotate(-10deg);
		transform: translate3d(15%,0,0) rotate(-10deg);
	  }
	}
	
.form-group {
	margin-bottom:0;
}

#subscribe {
	left: 50%;
	margin-left: -200px;
	overflow: hidden;
	padding: 15px;
	position: absolute;
	top: -120px;
	width: 400px;
	z-index: 9999;
	-webkit-transition: all 1500ms ease 0s;
	-moz-transition: all 1500ms ease 0s;
	-ms-transition: all 1500ms ease 0s;
	-o-transition: all 1500ms ease 0s;
	transition: all 1500ms ease 0s;
}
	
#subscribe .form-control {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: rgba(255,255,255,1);
	border-color: #474f6b -moz-use-text-color #474f6b #474f6b;
	border-image: none;
	border-radius: 4px 0 0 4px;
	border-style: solid none solid solid;
	border-width: 2px medium 2px 2px;
	box-shadow: none;
	float: left;
	height: 42px;
	outline: medium none;
	padding: 10px 15px;
	transition: all 0.3s ease-in-out 0s;
	width: 265px;
	color:#333
}

#subscribe .form-control:hover, #subscribe .form-control:focus {
	border-color: #35C4A1;
	box-shadow: none;
}
	
#subscribe button.submit {
	background-color: #474f6b;
	border: medium none;
	border-radius: 0 4px 4px 0;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;
	padding: 11px 16px;
	transition: all 0.3s ease-in-out 0s;
	width: 105px;
}

#subscribe .submit.focus, #subscribe .submit:hover {
	background-color: #35C4A1;
	color: #FFFFFF;
}

.controls .fa {
	color: #A5ABB5;
	font-size: 25px;
	margin: 9px 0 0 -32px;
	position: absolute;
}

p.message {
	font-size:12px;
	text-align:center
}

form.success-full .fa, form.success-full .message {
	color: #5CB85C;
}

form.error .fa, form.error .message {
	color: #cb4848;
}

form.bad-email .fa, form.bad-email .message {
	color: #cb4848;
}

/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* =========== 3. Map =========== */
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */		
			
/* Set a size for our map container, the Google Map will take up 100% of this container */
#map {
	height: 100%;
	width: 100%;
	z-index:-999;
	position:absolute;
	margin:auto;
	-webkit-transition: all 2500ms ease 0s;
	-moz-transition: all 2500ms ease 0s;
	-ms-transition: all 2500ms ease 0s;
	-o-transition: all 2500ms ease 0s;
	transition: all 2500ms ease 0s;
	opacity:0;
	top:-100%;
}

.move-top {
	opacity:0 !important;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.move-down {
	margin-top:10% !important;
	position:relative;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.frontoff {
	-webkit-transition: all 2500ms ease 0s;
	-moz-transition: all 2500ms ease 0s;
	-ms-transition: all 2500ms ease 0s;
	-o-transition: all 2500ms ease 0s;
	transition: all 2500ms ease 0s;
	z-index:1000 !important;
	opacity:1 !important;
	top:0 !important
}

#close-map {
	left: 50%;
	height:80px;
	margin-left: -363px;
	overflow: hidden;
	padding: 15px;
	position: absolute;
	top: -120px;
	width: 400px;
	z-index: 9999;
	-webkit-transition: all 1500ms ease 0s;
	-moz-transition: all 1500ms ease 0s;
	-ms-transition: all 1500ms ease 0s;
	-o-transition: all 1500ms ease 0s;
	transition: all 1500ms ease 0s;
}

.fa-close-map {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    color: #333333;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 40px;
}

.fa-close-map:hover {
	background:#333;
}

.sub-down {
	top:0 !important;
	-webkit-transition: all 1500ms ease 0s;
	-moz-transition: all 1500ms ease 0s;
	-ms-transition: all 1500ms ease 0s;
	-o-transition: all 1500ms ease 0s;
	transition: all 1500ms ease 0s;
}
		
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* ======== 4. Countdown ======== */
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */

#countdown_dashboard {
	display: block;
    margin: 30px auto;
	max-width:900px;
	overflow:hidden
}

#countdown_dashboard .dash:first-child {
	margin-left:0;
}

.dash {
    display: inline-block;
	opacity:0;
    font-family: Lato, 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
    padding-bottom: 10px;
    position: relative;
}

.dash_title {
    font-size: 16px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    width: 100%;
	color:#F1F1F1;
	display:block;
	clear:both;
}

.digit {
    color: #FFFFFF;
    font-size: 100px;
    font-weight: 300;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
	display:inline-block;
	overflow:hidden;
	text-align:center;
	height:110px;
	line-height:110px;
	position:relative;
	vertical-align:middle;	
}

/* ********** progress bar ********** */

.ui-widget-content { 
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.4); 
	color: #333333;
}

.ui-progressbar {
	height:8px; 
	text-align: left; 
}

.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height:100%;
}

.ui-widget-header {    
	background-color: #35c4a1;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	background-size: 40px 40px; 
	color: #ffffff; 
	border-radius: 0 10px 10px 0;
	border-right: 2px solid #FFD700;
	font-weight: bold;
	-webkit-animation: 2s linear 0s normal none infinite progress-bar-stripes;
	-moz-animation: 2s linear 0s normal none infinite progress-bar-stripes;
	-ms-animation: 2s linear 0s normal none infinite progress-bar-stripes;
	-o-animation: 2s linear 0s normal none infinite progress-bar-stripes;
	animation: 2s linear 0s normal none infinite progress-bar-stripes;
}

#progress2 {
	position:fixed;
	bottom:0;
	width:100%
}

.pbar .ui-progressbar-value {
    display: block !important;
}

.percent {
	text-align:center;
	color:#FFF;
}

	@-webkit-keyframes slideInUp {
	  0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px);
	  }
	
	  100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	  }
	}
	
	@keyframes slideInUp {
	  0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px);
	  }
	
	  100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	  }
	}

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}



/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* ========= 5. Contact ========= */
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */

#my_popup {
	max-height:100%;
	height:100%;
}

#my_popup {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}
.popup_visible #my_popup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
	
.divide {
	margin-bottom: 5%;
	margin-top: 5%;
}

.moreinfo {
	text-align: center;
	color:#FFF
}

.moreinfo h6 {
	text-transform:uppercase;
	padding: 10px 0;
	font-weight:700
}
	
.moreinfo a {
	color: #CCCCCC;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
}

.lil-border {
	background: none repeat scroll 0 0 #FFFFFF;
	display: block;
	height: 2px;
	margin: 20px auto;
	width: 20px;
}
	
h1.info-h1 {
	color:#000;
	font-size:35px;
	padding:0;
	line-height:50px;
}

.info-h1 small {
	color:#ccc;
	font-weight:300;
	font-size:19px;
}

.info-content {
	padding:0 20px;
}

.info-content p {
	color:#333;
	font-weight:300;
}
	
.error {
	float: right;
	margin: -66px 2px 0 0;
	position: relative;
	top: 0;
}

.error i:before {
	color: #ff0000;
	font-size: 70%;
	vertical-align: top;
	content:"\f071";
	margin-right:10px;
	font-family: FontAwesome;
}
	
ul.alert-gliss {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.error {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.alert-problem {
	color:#FFF;
	background:url(../img/stardust.png) repeat;
	border-color:#FFF;
}

.alert-success {
	color:#FFF;
	background:url(../img/stardust-green.png) repeat;
	border-color:#FFF;
	margin-top:20px;
}
	
.form {
	width: 100%;
	padding: 15px;
	background:rgba(0, 0, 0, 0.5);
	border:1px solid rgba(255, 255, 255, 0.15);
	margin-bottom:25px;
	color:#F2F2F2 !important;
	font-size:13px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.form:hover {
	border:1px solid rgba(255, 255, 255, 0.3);
}

.form:focus {
	color: white;
	outline: none;
	border:1px solid rgba(255, 255, 255, 0.6);
}

.textarea {
	height: 194px;
	max-height: 200px;
	max-width: 100%;
}

.form-btn {
	width:100%;
	display: block;
	height: auto;
	padding:15px;
	color:#727272;
	text-transform:uppercase;
	letter-spacing:3px;
	background:rgba(0, 0, 0, 0.5);
	border:1px solid rgba(255, 255, 255, 0.15);
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.form-btn:hover {
	background:#CCC;
	color: white;
}

.form-btn:active {
	opacity: 0.9;
}
		
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* ========== 6. About ========== */
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */

#about-exp {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

.popup_visible #about-exp {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.carousel-indicators {
	bottom:-50px;
	height:40px;
}

img.img-responsive {
	margin:auto;
}

.carousel-indicators li {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* ========= 7. Loading ========= */
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */

.globload {
	background: #3b405b;
	background: -moz-radial-gradient(center, ellipse cover,  #3b405b 0%, #171b33 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3b405b), color-stop(100%,#171b33));
	background: -webkit-radial-gradient(center, ellipse cover,  #3b405b 0%,#171b33 100%);
	background: -o-radial-gradient(center, ellipse cover,  #3b405b 0%,#171b33 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #3b405b 0%,#171b33 100%);
	background: radial-gradient(ellipse at center,  #3b405b 0%,#171b33 100%);
	width:100%;
	height:100%;
	position:fixed;
	z-index:100000;
	bottom:0;
	left:0;
	top:0;
	right:0;
}

.snaker {
	font-size: 10px;
	height: 30px;
	position: fixed;
	text-align: center;
	top: 47%;
	width: 100%;
}

.snaker > div {
	-webkit-animation: 1.2s ease-in-out 0s normal none infinite translating;
	-moz-animation: 1.2s ease-in-out 0s normal none infinite translating;
	-ms-animation: 1.2s ease-in-out 0s normal none infinite translating;
	-o-animation: 1.2s ease-in-out 0s normal none infinite translating;
	animation: 1.2s ease-in-out 0s normal none infinite translating;
	background-color: #FFFFFF;
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius:50%;
	margin-bottom:20px;
	background:#5CB85C;
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s;
}
	
.snaker .circle2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
	background:#FFD700;
}

.snaker .circle3 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
	background:#A73E5C;
}

.snaker .circle4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
	background:#3B5997;
}

.snaker .circle5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
	background:#41B7D8;
}

.snaker .circle6 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
	background:#D64937;
}

.snaker h6 {
	font-family: 'Lucida Grande', Lato, 'Helvetica Neue', Arial, Verdana, sans-serif;
	font-weight:300;
	font-size:13px;
	color:#FFF
}
	
	
	@-webkit-keyframes translating {
		0%, 40%, 100% {
			-webkit-transform: translateY(20px);
		}
		20% {
			-webkit-transform: translateY(10px);
		}
	}
	
	@keyframes translating {
		0%, 40%, 100% {
			transform: translateY(20px);-webkit-transform: translateY(20px);
		}
		20% {
			transform: translateY(10px);-webkit-transform: translateY(10px);
		}
	}
	
	
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* ====== 8. Media Queries ====== */
/* *=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */

/* *=*=*=*=*=*=*=*=*=* Small screen *=*=*=*=*=*=*=*=*=* */
		
			@media only screen and (max-width: 1023px) {
			
			.digit {
				font-size:80px
			}
			
			.link-box {
				margin-bottom:30px;
			}
			
			.well {
				padding:0
			}
			
		}

/* *=*=*=*=*=*=*=*=*=* Tablet portrait *=*=*=*=*=*=*=*=*=* */

		@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : portrait) {
		
			.container { 
				width: 720px; 
			}
			
			.align-reduce {
				padding: 30px 0
			}
		
			.back-pop h4 {
				padding: 0;
				font-size: 22px;
				line-height: 28px;
				font-weight: 400
			}
			
			#carousel-services {
				margin-top:40px;
			}
			
			.dash-glob {
				width:100%;
			}
			
			#progress2 {
				position:absolute;
				bottom:0;
				width:100%;
			}
			
			#main-future {
				margin: auto;
				position: absolute;
				text-align: center;
				width: 100%;
				top:3%;
			}
			
			#subscribe .form-control {
				border:none;
				color:#333;
				background:rgba(255,255,255,1)
			}
			
			.well {
				padding:0
			}
		
		}

/* *=*=*=*=*=*=*=*=*=* Tablet landscape *=*=*=*=*=*=*=*=*=* */

		@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) { 
		
			#subscribe .form-control {
				border:none;
				color:#333;
				background:rgba(255,255,255,1)
			}
			
			/* With iOS 7 in Safari, the window.innerHeight (672px) doesn't match window.outerHeight (692px), in landscape mode, we have 20px useless below the progress bar. So it's need to don't put the progress bar on bottom:0 ... Yes it's unfair  */
			
			#progress2 {
				position:absolute;
				top:90%;
				width:50%;
				left:25%;
			}
			
			.ui-progressbar { 
				height:8px; 
				text-align: left; 
				border-radius:10px; 
			}
			
			.ui-widget-header {    
				border-radius: 10px;
			}
			
			.well {
				padding:0
			}
			
			.sub-picture {
				background-image: url('../img/re-video-landscape.jpg');
			}
		}


/* *=*=*=*=*=*=*=*=*=* Phone portrait *=*=*=*=*=*=*=*=*=* */

		@media only screen 
			and (min-device-width : 320px) 
			and (max-device-width : 568px) 
			and (orientation : portrait) {
	
			.container { 
			 	width: 100%;
			 }
			 
			h2 {
				font-size: 35px;
				line-height: 35px;
			}
			
			.dash {
				margin:0;
				width:100%;
			}
			
			.about-p {
				padding-bottom:20px;
			}
			
			#carousel-services {
				margin-top:40px;
			}
				
			#main-future {
				margin: auto;
				position: absolute;
				text-align: center;
				width: 100%;
				top:0
			}
	
			#subscribe {
				margin-left: -150px;
				width: 300px;
				top:-150px;
			}
			
			#subscribe .form-control {
				width: 270px;
				border:none;
				border-radius:4px;
				margin-bottom:10px;
				color:#333333;
				background:rgba(255,255,255,1)
			}
	
			#subscribe button.submit {
				border-radius: 4px;
				color: #FFFFFF;
				font-size: 16px;
				line-height: 20px;
				padding: 11px 16px;
				transition: all 0.3s ease-in-out 0s;
				width: 150px;
				margin-left:23%
			}
			
			#progress2 {
				position:fixed;
				bottom:0;
				width:100%;
				margin:0;
				padding:0;
			}
			
			#main-content h1 {
				font-size:25px;
				letter-spacing:-3px;
				line-height:35px
			}
			
			#main-content h4 {
				font-size: 15px;
				line-height: 20px;
			}
			
			.border {
				height: 1px;
				width: 50px;
				margin:0px auto;
			}
			
			.bor-spec {
				margin:10px auto;
			}
			
			#countdown_dashboard {
				margin-bottom:0;
				margin-top:0;
			}
			
			.digit {
				font-size:42px;
				height:50px;
				line-height:50px;
			}
			
			.percent {
				font-weight:300;
			}
			
			#scene {
				width: 50%;
			}
			
			.tlt {
				font-size:18px;
			}
			
			.well {
				padding:0
			}

		}
		
/* *=*=*=*=*=*=*=*=*=* Phone landscape *=*=*=*=*=*=*=*=*=* */

		@media only screen 
			and (min-device-width : 320px) 
			and (max-device-width : 568px) 
			and (orientation : landscape) {
	
			.container { 
			 	width: 100%;
			 }
			 
			 h2 {
				font-size: 35px;
				line-height: 35px;
			}
			
			.dash-glob {
				width:25%;
			}
			
			.about-p {
				padding-bottom:20px;
			}
			
			#carousel-services {
				margin-top:40px;
			}
				
			#main-future {
				margin: auto;
				position: absolute;
				text-align: center;
				width: 100%;
				top:30px
			}
	
			#subscribe {
				margin-left: -150px;
				width: 300px;
				top:-150px;
			}
			
			#subscribe .form-control {
				width: 270px;
				border:none;
				border-radius:4px;
				margin-bottom:10px;
				color:#333333;
				background:rgba(255,255,255,1)
			}
	
			#subscribe button.submit {
				border-radius: 4px;
				color: #FFFFFF;
				font-size: 16px;
				line-height: 20px;
				padding: 11px 16px;
				transition: all 0.3s ease-in-out 0s;
				width: 150px;
				margin-left:23%
			}
			
			#progress2 {
				position:fixed;
				bottom:0;
				width:100%;
				margin:0;
				padding:0;
			}
			
			#main-content h1 {
				font-size:25px;
				letter-spacing:-3px;
				line-height:35px
			}
			
			#main-content h4 {
				font-size: 15px;
				line-height: 20px;
			}
			
			.border {
				height: 1px;
				width: 50px;
				margin:0px auto;
			}
			
			.bor-spec {
				margin:10px auto;
			}
			
			#countdown_dashboard {
				margin-bottom: 10px;
			}
			
			.digit {
				font-size:38px;
				margin-bottom:15px;
				height:48px;
				line-height:48px;
			}
			
			.percent {
				font-weight:300;
			}
			
			#scene {
				width: 50%;
			}
			
			.well {
				padding:0
			}
			
			.sub-picture {
				background-image: url('../img/re-video-landscape.jpg');
			}
		}
