/* Variables*/

/*General*/

@main-theme-color:#8C8C0C;
@bg-text-color:#fff;
@title-text-color: #414042;
@para-text-color: #6d6d6d;

@base-font: 'Noto Sans', sans-serif;
@no-margin: 0px;
@no-pad: 0px;
@border-bottom: 1px solid #ededee;
@imagePath: "../images/imed-logos-sm.png";
@logo-pos:0px 0;

@imagePath-foot-logo: "../images/foot-logos.png";
@logo-pos-foot: 0px 0;

@fold-imagePath: "../images/icon-img-fold-alll.png";
@fold-imagepos:36px 36px;

@imagePath-drop-arrow: "../images/select-box-arr.png";
@imagePath-drop-arrow-pos: -205px;

@imagePath-plus: "../images/plus-collapse-all.png";
@imagePath-plus-pos:'12px';
@imagePath-plus-pos:12px;

@dept-icon-pos:-250px;
@imagePath-fold-big: "../images/icon-img-fold-big.png";
@imagePath-fold-big-pos:-477px;

@imagePath-testi-arrow: "../images/test-arrows-all.png";
@imagePath-testi-arrow-pos-right:'0px 0px';
@imagePath-testi-arrow-pos-right-ov:'0px 0px';
@imagePath-testi-arrow-pos-left:'0px 0px';
@imagePath-testi-arrow-pos-left-ov:'0px 0px';


/*Float*/
@fleft: left;
@fright: right;

/*top-bar variables*/
@head-topbar-height: 40px;
@head-icons-color: #dcddde;
@head-icons-color-ov: @main-theme-color;
@head-icons-fsize: 21px;
@head-icons-height: 40px;
@head-icons-width: 30px;
@head-icons-lineh: 40px;
@head-icons-left-offset: 10px; 

@topbar-text-color: #939598;
@topbar-text-text: 11px;
@topbar-text-lheight: 40px;

/*Nav bar design var*/

@navbar-default-bg: #fff;
@navbar-default-link-color: #414042;
@navbar-default-link-active-color: @main-theme-color;
 
@test: @navbar-default-link-color;

/*Iconboxes*/
@icon-box-bor-radius: @border-radius-large;
@border-iconbox: 1px solid darken(@icon-box-bg, 10%);  
@icon-box-bg: #f8f8f8;
@icon-box-bg-ov: #fefefe;
@border-iconbox-ov: 1px solid darken(@icon-box-bg, 7%);
@icon-box-icon-height:67px;
@icon-box-icon-width:@icon-box-icon-height;
@icon-box-icon-color:@bg-text-color;
@icon-box-icon-color-ov:@main-theme-color;
@icon-box-text-color:#777777;
@icon-box-text-color-ov:@bg-text-color;

/*Icon-list-box*/

@icon-listbox-text-color:@bg-text-color;
@icon-listbox-bg-color:@main-theme-color;
@border-icon-listbox: 2px solid darken(@main-theme-color, 6%);







